.entity-ledger-root {
    margin: 0px;
    padding:10px 0;
    width: 100%;
    box-sizing: border-box;
    font-family: "Inter", "Open Sans", sans-serif;
    font-size: 1.5rem;
    height: calc(100vh - 300px);
}

.ledger-table th {
    background-color: #3b5998;
    color: white;
    padding: 8px 12px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border: 4px solid #f1f1f1;
    border-top: none;
    border-bottom: none;
    text-overflow: ellipsis;
    max-width: 100px;
}

.ledger-table table {
    width: 100%;
    border: 4px solid #f1f1f1;
    border-top: none;
    border-bottom: none;
    border-collapse: collapse;
}

@media (max-width: 768px) {
    .entity-ledger-root {
        margin: 0px;
        padding: 5px 0px;
        
    }
    
    .ledger-table th {
        padding: 6px 8px;
        font-size: 1rem;
        max-width: 70px;
    }
}

