.reset-password-root {
    box-shadow: '0px 2px 4px rgba(0, 0, 0, 0.2)';
    margin-bottom: 50px;
    
}

.reset-password-container {
    background: white;
    width: 30%;
    height: auto;
    margin: auto;
    margin-top: 7%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.reset-password-header-container {
    background: #3a61a2;
    width: 100%;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    height: 50px;
    border-radius:15px 15px 0 0;

    text-align: center;
    align-content: center;
    padding-top: 0;
    padding-bottom: 0;
    font-family: sans-serif;
}

.reset-password-header {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 24px;
}

.reset-password-body-container {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 10%;
    align-items: center;
}

.reset-password-input {
    width: 84%;
    height: 40px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    font-size: 14px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid #e1caac;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .reset-password-input:focus {
    outline: none;
    border-color: #f8f8f8;
    -moz-box-shadow: 0 0 2px #f8f8f8;
    -webkit-box-shadow: 0 0 2px #f8f8f8;
    -o-box-shadow: 0 0 2px #f8f8f8;
    -ms-box-shadow: 0 0 2px #f8f8f8;
    box-shadow: 0 0 2px #f8f8f8;
} */

.reset-password-button {
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    background-color: #3a61a2;
    /* border: 0.5px solid white; */
    /* border: 1px solid rgb(93, 108, 116); */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 1px 3px; */
    -webkit-tap-highlight-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 84%;
    border-radius: 8px;    
}

.reset-password-button:hover {
    background-color: #A5305C;
}

.reset-password-button:focus {
    border: 0.5px solid black;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 1px 3px; */
    /* box-shadow: rgba(0, 0, 0, 0.20) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.20) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
    /* box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0; */
    outline: 0;
    color: white;
    background: #A5305C;
    outline: none;
    /* -webkit-box-shadow: inset 4px 4px 4px #c1c1c1;
    -moz-box-shadow: inset 4px 4px 4px #c1c1c1;
    box-shadow: inset 4px 4px 4px #c1c1c1; */
}

.reset-password-button:active {
    transform: scale(0.98);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
    background: #A5305C;
    outline: none;
    /* -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1; */
}

@media (orientation: portrait) {
    .reset-password-container {
        width: 90%;
        margin-top: 20%;
    }
}